<div *ngIf="hasCustomer|async" class="row my-5">
  <div class="col">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="./assets/gummibaeren.jpg" alt="Gummibären">
      <div class="card-body">
        <h5 class="card-title">Gummibären</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gratis</h6>
        <p class="card-text">Nur solange der Vorrat reicht</p>
        <a routerLink="/" (click)="order('Gummibären')" class="card-link">Hier</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="./assets/aepfel.jpg" alt="Äpfel">
      <div class="card-body">
        <h5 class="card-title">Äpfel</h5>
        <h6 class="card-subtitle mb-2 text-muted">2,50€</h6>
        <p class="card-text">In rot, gelb, grün und blau!</p>
        <a routerLink="/" (click)="order('Äpfel')" class="card-link">Hier</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card my-1 mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="./assets/3-gelbe-bananen.jpg" alt="Bananen">
      <div class="card-body">
        <h5 class="card-title">3 gelbe Bananen</h5>
        <h6 class="card-subtitle mb-2 text-muted">4,70€</h6>
        <p class="card-text">In dick, dünn, lang und kurz!</p>
        <a routerLink="/" (click)="order('3 gelbe Bananen')" class="card-link">Hier</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCustomerPremium|async"  class="row my-5">
  <h2 class="col-12 my-3">Premiumangebote</h2>
  <div class="col">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="./assets/lakritz.jpg" alt="Lakritz">
      <div class="card-body">
        <h5 class="card-title">Lakritz</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gratis</h6>
        <p class="card-text">Das kleine Schwarze!</p>
        <a routerLink="/" (click)="order('Lakritz')" class="card-link">Hier</a>
      </div>
    </div>
  </div>

  <div class="col align-content-center">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top" src="./assets/kuchen.jpg" alt="Kuchen">
      <div class="card-body">
        <h5 class="card-title">Kuchen</h5>
        <h6 class="card-subtitle mb-2 text-muted">1,20€</h6>
        <p class="card-text">Lecker, Lecker, Lecker!</p>
        <a routerLink="/" (click)="order('Kuchen')" class="card-link">Hier</a>
      </div>
    </div>
  </div>
</div>
